.cardall-wrap {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
}

.card-wrap {
    width: 100%;
    border-top: 2px solid grey;
    display: flex;
    flex-wrap: wrap;
}

.card-line {
    width: 350px;
    border: 1.5px solid grey;
    border-radius: 4px;
    padding: 10px;
    margin: 30px;
    cursor: pointer;
}

.card-line:hover {
    width: 400px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 30px;
    cursor: pointer;
    background-color: rgba(253, 253, 253, 0.13);
}

.card-line>.img-line {
    width: 330px;
    height: 350px;
    line-height: 350px;
    margin: 0 auto;
}

.img-line img {
    vertical-align: middle;
}

.card-title {
    border-top: 1.5px solid grey;
    border-bottom: 1.5px solid grey;
    padding: 3px;
}

.resign {
    font-weight: bold;
}