.card-wrap {
    width: 100%;
    border-top: 2px solid grey;
    margin-top: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card-line {
    width: 350px;
    height: 500px;
    border: 1.5px solid grey;
    border-radius: 4px;
    padding: 10px;
    margin: 30px;
}

.img-line {
    width: 330px;
    height: 350px;
    line-height: 350px;
    margin: 0 auto;
}

.img-line img {
    vertical-align: middle;
}

.card-title {
    border-top: 1.5px solid grey;
    border-bottom: 1.5px solid grey;
    padding: 3px;
}